/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ตัวอย่าง animation สำหรับ notification */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInDown {
  animation: fadeInDown 0.5s ease-out forwards;
}